{{#each this as |images|}}
  {{#images}}
      <div class="image-url" data-id={{id}}>
        <img src='{{url}}'> <h4>ID:{{id}} -- {{date}} -- {{caption}}</h4>
        <form class="caption-update" data-id={{id}}>
          <input required minlength='1' class="update-caption-form-{{id}}" type="text" placeholder="New Caption" data-id={{id}}>
          <input class="update-caption-btn" type="submit" name="images[caption]" value="Update" data-id={{id}}>
        </form>
        <button type="button" name="remove" class="image-remove-btn">Remove</button>
      </div>
  {{/images}}
{{/each}}
