{{#each this as |gifs|}}
  {{#gifs}}
    <div class="gif-url" data-id={{id}}>
      <iframe src="{{url}}" width="250" height="250" scrolling="no" style="border:none;"></iframe>
      <!-- <video preload="auto" autoplay="autoplay" loop="loop" style="width: 250px; height: 250px;">
        <source src="{{url}}" type="video/mp4"></source>
      </video> -->
      <h4>ID:{{id}} -- {{caption}}</h4>
      <button type="button" name="remove" class="image-remove-btn">Remove</button>
    </div>
  {{/gifs}}
{{/each}}
